*.csv
*.png
# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model files
*.onnx

# Logs
logs/
*.log

# Jupyter outputs
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
.gz
.cache
**/dataset-processed/train-datasets/
**/dataset/training-datasets/
